/* Reset default browser styling */
body {
    background-color: white; /* Change background color to white */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1b1b1b; /* Dark text color */
    margin: 20px; /* Add margin to the body */
    display: flex; /* Use flexbox for layout */
}

.sidebar {
    width: 200px; /* Width of the sidebar */
    background-color: #f0f0f0; /* Light gray background for sidebar */
    padding: 20px; /* Add padding inside the sidebar */
}

.content {
    flex: 1; /* Take remaining space */
    padding-left: 20px; /* Space between sidebar and content */
}

h1 {
    text-align: center; /* Center align h1 headers */
    color: rgb(49, 49, 131); /* Blue color for h1 headers */
}

h2 {
    margin-top: 20px; /* Add top margin for h2 headers */
    color: rgb(49, 49, 131); /* Blue color for h2 headers */
}

p {
    line-height: 1.6; /* Adjust line height for paragraphs */
}

.sidebar a {
    display: block; /* Display links as block elements */
    margin-bottom: 10px; /* Bottom margin between links */
    color: #333; /* Text color for sidebar links */
    text-decoration: none; /* Remove underline from links */
    padding: 8px; /* Add padding inside links */
    border-radius: 5px; /* Rounded corners for links */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.sidebar a:hover {
    background-color: #ddd; /* Light gray background on hover */
}
